{% extends 'eadmin/layouts/index.html' %}

{% block adminbody %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Hover Table</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table header-border table-hover verticle-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">price</th>
                        <th scope="col">offer</th>
                        <th scope="col">quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <td><img src="{{product.image.url}}" alt="" style="width: 50px;"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.offer_price}}</td>
                            <td>{{product.quantity}}</td>
                            <td>							
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                </div>					
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock adminbody %}